<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/blogs">Blog</a>
      <a mat-list-item routerLink="/information">Informatie</a>
      <a mat-list-item routerLink="/advice">Advies</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tuurlijk Toegankelijk</span>
      <ng-container *ngIf="!(isHandset$ | async)">
        <span class="horizontal-spacer"></span>
        <a mat-button routerLink="/blogs" routerLinkActive="mat-accent">Blog</a>
        <a mat-button routerLink="/information" routerLinkActive="mat-accent"
          >Informatie</a
        >
        <a mat-button routerLink="/advice" routerLinkActive="mat-accent"
          >Advies</a
        >
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
